
:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
.title
{
    text-align: center;
}
.input
{
    text-align: center;
}
#container
{
    text-align: center;
    height: 500px;
    width:500px;
    display: grid;
    margin-left: 700px;
    border: 1px solid black;
    margin-top: 50px;
    grid-gap: 0.3em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.box
{
  padding: 0.1em;
  border: 1px solid #ddd;
  text-align: center;
   
    
}

.box:hover{
    background-color: red;
}

#reset
{
    margin-top: 20px;
    text-align: center;
}